# Miscellaneous
*.class
*.lock
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ
.idea/
*.iml
*.ipr
*.iws
out/

# Visual Studio Code
.vscode/

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Android
.gradle/
local.properties

# iOS
.ios/
DerivedData/
Runner.xcworkspace/

# Web
.dart_tool/build/web/

# Build artefacts
app.zip
